APPLE_MUSIC_KEY_ID=YOUR_KEY_ID
APPLE_MUSIC_TEAM_ID=YOUR_TEAM_ID
APPLE_MUSIC_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nYOUR_PRIVATE_KEY_HERE\n-----END PRIVATE KEY-----"
APPLE_MUSIC_TOKEN_TTL=180d
APPLE_MUSIC_APP_NAME=HAM
APPLE_MUSIC_APP_BUILD=0.0.1
